/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

:root{
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}

.container{
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

body{
    background-color: var(--rsp-secondary);
    font-family: 'PT Sans', sans-serif;
}

.row{
    flex-wrap: wrap;
}

/*Debug*/

.debug #site_header{
    height: 75px;
   
}

.debug #site_main{
    height: 1800px;
    background-color: rgb(0, 255, 38);
}

.debug #site_footer{
    height: 120px;
    background-color: rgb(255, 42, 0);
}

.debug .container{
    background-color: aqua;
}



/*Utilities*/

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.col-4{
    width: calc(100%/12*4)
}

.col-6{
    width: calc(100%/12*6);
}

.col-8{
    width: calc(100%/12*8)
}

.col-12{
    width: 100%;
}

.d-sm-none{
    display: none;
}

.d-sm-block{
    display: block;
}

.f-sm-column{
    flex-direction: column;
}

.pb-30{
    padding-bottom: 30px;
}

/*Header*/

#site_header{
    height: 75px;
    background-color: var(--rsp-heanvenly);
}

.logo img{
    padding: 10px;
}

div>.desktop_menu a{
    color: var(--rsp-light-heanvenly);
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
}

.btn{
    color: var(--rsp-footer);
    background-color: var(--rsp-secondary);
    border-radius: 20px;
    width: 110px;
    height: 2rem;
    text-decoration: none;
    text-align: center;
    padding: 0.3rem
}

.mobile_menu{
    color: var(--rsp-secondary);
}

/*Main*/

section{
    padding: 50px 0;
    width:100%;
}

#phone{
    width: 100%;
}

#offers .card{
    background-color: var(--rsp-light-heanvenly);
    border-radius: 1rem;
    padding: 30px;
}

#offers [class^="col-"]{
    padding: 10px 0;
}

#offers .col-md-6 a{
    background-color: var(--rsp-heanvenly);
    color:var(--rsp-secondary);
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 20px;
}

#offers h3{
    color:var(--rsp-heanvenly);
    padding-bottom: 20px;
}

#offers p{
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #5A6E7F;
}

#offers .col-md-4 i{
    color: var(--rsp-heanvenly);
    padding-bottom: 1rem;
}

#offers .col-md-4 p, #offers .col-md-4 h3{
    text-align: center;
}

#plan{
    background-color: var(--rsp-primary);
}

#plan .box{
    padding:30px;
}

#plan img{
    width: 100%;
}

#plan .box h2{
    font-size: 2rem;
    color: var(--rsp-secondary);
    padding: 50px 0;
}

#plan p{
    line-height: 2rem;
    color: var(--rsp-secondary);
}

.boxdown{
    background-color: var(--rsp-secondary);
    border-radius: 30px;
    margin: 30px;
    gap: 1.5rem;
}

cite{
    line-height: 2rem;
    padding: 0 30px;
    text-align: center;
}

.boxdown a{
    text-decoration: none;
    background-color: var(--rsp-primary);
    border-radius: 50%;
    padding: 15px 20px;
    margin-bottom: 20px;
}

#testimonials .col-12{
    padding: 20px 0;
}

#testimonials{
    text-align: center;
}

#testimonials h2{
    color:var(--rsp-primary);
    font-size: 2rem;
    padding: 20px;
}

#testimonials p{
    line-height: 2rem;
    padding: 20px;
}

.businesscard{
    background-color: var(--rsp-primary);
    border-radius: 30px;
}

.businesscard img{
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    padding: 40px;
}

.quote{
    color: var(--rsp-secondary);
    line-height: 2rem;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.author{
    text-transform:capitalize;
    color: var(--rsp-secondary);
    text-align: center;
    padding: 20px;
}

#about h1{
    font-size: 45px;
    padding-bottom: 30px;
    color: var(--rsp-primary);
}

#about p{
    padding-bottom: 30px;
    line-height: 2.5rem;
}

#about img{
    width: 60%;
    border-radius: 50%;
    position: relative;
}

#about h4{
    padding: 30px 0;
    font-size: 30px;
    color: var(--rsp-primary);
}

#about i{
    margin-right: 10px;
}

#about a{
    text-decoration: none;
    color: var(--rsp-secondary);
    background-color: var(--rsp-primary);
    padding: 10px 20px;
    border-radius: 30px;
}

#subscribe{
    background-color: var(--rsp-primary);
    color: var(--rsp-secondary);
    text-align: center;
}

.container-sm{
    width:70%;
    max-width: 480px;
    margin: auto;
}

#subscribe h2{
    font-size: 30px;
    padding: 30px 0;
}

#subscribe h1{
    font-size: 60px;
    color: var(--rsp-special);
    padding-bottom: 30px;
}

#subscribe p{
    line-height: 1.5rem;
    font-size: 0.95rem;
    margin-bottom: 50px;
}

#start{
    text-decoration: none;
    background-color: var(--rsp-secondary);
    color: var(--rsp-primary);
    padding: 1rem 4rem;
    border-radius: 30px;
}

.copyright{
    font-size: 0.9rem;
    margin-top: 50px;
}

.copyright a{
    color: var(--rsp-secondary);
}
/*Footer*/
#site_footer{
    background-color: var(--rsp-footer);
    text-align: center;
    color:var(--rsp-secondary);
}

footer a{
    color: var(--rsp-primary);
}

footer p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 40px;
}
/*Mobile first*/

@media screen and (min-width: 768px){
	.d-md-none
	{
		display: none;
	}

	.d-md-block
	{
		display: block;
	}

    .col-md-4
	{
		width: calc(100% / 12 * 4);
	}

	.col-md-6
	{
		width: calc(100% / 12 * 6);
	}

	.col-md-8
	{
		width: calc(100% / 12 * 8);
	}

    .f-md-row {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px)
{
	.d-lg-none
	{
		display: none;
	}

	.d-lg-block
	{
		display: block;
	}
}